@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-light: linear-gradient(to top, #f0e8d1, #ededed);
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-dark: linear-gradient(to right, #0a0a0a, #1c1c1c);
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background-light);
  font-family: Arial, Helvetica, sans-serif;
}

@media (prefers-color-scheme: dark) {
  body {
    background: var(--background-dark);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
